<div class="row">
  <div class="col-lg-6 mb-4">
    <h1>Javascript Test</h1>
      <div class="card-body">
        <a href="javascript" class="btn btn-primary">START TEST</a>
      </div>
    </div>
  </div>

  <div class="col-lg-6 mb-4"> 
      <h1>Angular Test</h1>
      <div class="card-body">
        <a href="angular" class="btn btn-primary">START TEST</a>
      </div>
  </div>


    <div class="row">
      <div class="col-lg-6 mb-4">
        <h1>HTML Test</h1>
          <div class="card-body">
            <a href="html" class="btn btn-primary">START TEST</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-4"> 
          <h1>Typescript Test</h1>
          <div class="card-body">
            <a href="question" class="btn btn-primary">START TEST</a>
          </div>
      </div>
  
  
